@import 'variables';

.header {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;

  & .title {
    height: 100px;
    line-height: 100px;
    font-size: 42px;

    & small {
      position: absolute;
      top: 34px;
      left: 140px;
      color: white;
      font-size: 14px;

      & a {
        color: white;
      }
    }
  }

  & .hudong {
    background: url(../img/sc_bg.png) center 0 no-repeat;
    height: 100px;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

    & .message{
      margin-top: -10px;
      text-align: left;

      & p{
        font-size: 30px;
      }
    }
  }

  & .powerby {
    height: 100px;
    line-height: 100px;
    text-align: right;
  }

  .guy img {
    width: 75px;
    height: 75px;
    border: 3px solid rgba(255, 255, 255, .2);

    border-radius: 75px 75px 75px 75px;
  }
}