@import '../variables';

a i {
  color: white;
}

.bingo, .result {
  height: 450px;
  /*border: 1px solid #ddd;*/
  padding: 30px 60px;
  box-shadow: 0 0 10px rgba(245, 188, 110, 1);
}

.bingo {
  background-color: $body-bg;
  color: white;

  & .guy {
    text-align: center;

    & .nickname {
      min-height: 42px;
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }

  & .action {
    position: absolute;
    top: 370px;
    left: 330px;
  }

  .guy img {
    width: 250px;
    height: 250px;
    border: 3px solid rgba(255, 255, 255, .2);

    border-radius: 250px 250px 250px 250px;
  }
}

.result {
  background-color: wheat;
  color: $brand-important;
  overflow-y: auto;

  & hr{
    border-color: $brand-important;
  }

  & h4 {
    text-align: center;
  }

  & ul li {
    height: 60px;
    line-height: 60px;

    & i{
      color: $brand-important;
    }
  }

  & .action {
    position: absolute;
    top: 370px;
    left: 160px;
  }

  & div.name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.users {
  margin-top: 30px;

  & span.name {
    color: white;
  }
  & h4 {
    color: white;
  }
  & kbd {
    color: white;
    background-color: $brand-important;
  }
  & ul {
    margin-top: 10px;
  }
  & li {
    height: 30px;

    & a i {
      font-size: 12px;
      color: white;
    }
  }

}